div.error{
    padding: 15px 20px 5px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgb(250, 220, 225);
    font-weight: bold !important;
}
div.success{
    padding: 15px 20px 5px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgb(210, 250, 220);
    font-weight: bold !important;
}